* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #022868;
}

/* Barra de navegacion superior */
nav {
  display: flex;
  justify-content: space-between;
  color: #fff;
  height: 60px;
  padding-top: 20px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -15px;
}

h1 {
  font-size: 7rem;
  margin-left: 15%;
  font-weight: 800;
}

.eslogan {
  font-size: 1rem;
  width: 100%;
  margin-top: -10%;
  margin-left: 15%;
}

.search-container {
  display: flex;
  position: relative;
  align-items: center;
  margin-left: 5%;
}

.search {
  width: 400px;
  height: 50px;
  border-radius: 49px;
  padding: 0 45px 0 20px;
  background-color: #022868;
  color: #fff;
  border: 1px solid #fff;
  outline: none;
  box-sizing: border-box;
}

.bi {
  position: absolute;
  right: 15px;
  color: #fff;
  pointer-events: none;
  font-size: 20px;
}

.notifications {
  width: auto;
  height: auto;
  color: black;
  display: flex;
  position: relative;
  align-items: center;
}

.notifications button {
  height: 60px;
  width: 60px;
  background-color: #022868;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notifications button i {
  color: #fff;
  font-size: 24px;
  padding: 0;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: none;
  max-width: 300px;
  margin-top: 10px;
  padding-right: 3%;
}

.info .details {
  display: block;
  margin-right: 10px;
}

.info label {
  display: block;
  margin-bottom: 4px;
}

.info a {
  color: orange;
  text-decoration: none;
}

.info img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

/* Sidebar with options */
aside {
  margin-top: 7%;
  margin-left: 4%;
  color: #fff;
  background-color: #022868;
  position: relative;
  height: 100%;
  width: 250px;
}

aside .menu ul,
aside .admin-section ul {
  padding: 0;
  list-style-type: none;
}

aside .menu ul li,
aside .admin-section ul li {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  position: relative; /* Añadir esta línea */
}

aside .menu ul li i,
aside .admin-section ul li i {
  margin-right: 10px;
  font-size: 1.5rem;
  padding-right: 20px;
  position: relative; /* Cambiar de absolute a relative */
}

aside .menu ul li a,
aside .admin-section ul li a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
}

aside .admin-section h2 {
  font-weight: 400;
  padding: 15px 20px;
}
