* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #022868;
}

/* Barra de navegacion superior */
nav {
  display: flex;
  justify-content: space-between;
  color: #fff;
  height: 60px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1 {
  font-size: 5rem;
  margin-left: 20%;
  font-weight: 800;
}

.eslogan {
  font-size: .81rem;
  width: 100%;
  margin-top: -8%;
  margin-left: 20%;
}

.search-container {
  display: flex;
  position: relative;
  align-items: center;
  margin-left: 9%;
  margin-top: 30px;
}

.search {
  width: 450px;
  height: 50px;
  border-radius: 49px;
  padding: 0 45px 0 20px;
  background-color: #022868;
  color: #fff;
  border: 1px solid #fff;
  outline: none;
  box-sizing: border-box;
}

.bi.bi-search {
  position: absolute;
  right: 15px;
  color: #fff;
  pointer-events: none;
  font-size: 20px;
}

.notifications {
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 35px;
}

.notifications button {
  height: 60px;
  width: 60px;
  background-color: #022868;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  font-size: 2rem;
}

.bi-bell{
  color: #fff;
font-size: 45px;
}

.badge {
  background-color: #ffcc00;
  color: black;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 12px;
  position: absolute;
  margin-top: -30px;
  margin-left: 20px;
  width: 20px;
  height: 20px;
  font-size: 1rem;
  text-align: center;
}

.dropdown {
  display: none;
  position: absolute;
  right: 10px;
  top: 40px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 290px;
  z-index: 1000;
}

.dropdown::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 20px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.dropdown .icon-drop {
  background-color: #e57373;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdown .icon-drop .bi.bi-pencil-square {
  position: relative;
  color: #fff;
  font-size: 20px;
  margin-left: 2px;
  margin-top: 1px;
}

.notification-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.notification-item:last-child {
  border-bottom: none;
}

.name {
  flex: 1;
  font-weight: bold;
  color: #555;
  font-size: 1rem;
}

.time {
  font-size: 12px;
  color: gray;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: none;
  max-width: 300px;
  margin-top: 1%;
  padding-right: 1%;
}

.info .details {
  margin-top: 3%;
  display: block;
  margin-right: 10px;
  text-align: right;
}

.info label {
  display: block;
  margin-bottom: 4px;
}

.info .details .name {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}

.info .details .position {
  color: rgba(184, 178, 178, 0.682);
}

.info a {
  color: orange;
  text-decoration: none;
}

.info img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
}

/* Container for sidebar and main content */
.container {
  display: flex;
}

/* Sidebar with options */
aside {
  margin-top: 6%;
  margin-left: 2%;
  color: #fff;
  background-color: #022868;
  position: relative;
  height: 100%;
  width: 20%;
}

aside .menu ul,
aside .admin-section ul {
  padding: 0;
  list-style-type: none;
}

aside .menu ul li,
aside .admin-section ul li {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  position: relative;
}

aside .menu ul li:hover,
aside .admin-section ul li:hover {
  background-color: #C6C6C6;
}

aside .menu ul li:hover i,
aside .admin-section ul li:hover i {
  background-color: #C6C6C6;
  color: #022868;
  transition: 0.2s;
}

aside .menu ul li i:hover,
aside .admin-section ul li i:hover {
  color: #022868;
  transition: 0.2s;
}

aside .menu ul li:hover a,
aside .admin-section ul li:hover a {
  color: #022868;
  transition: 0.2s;
}


aside .menu ul li i,
aside .admin-section ul li i {
  margin-right: 10px;
  font-size: 1.4rem;
  padding-right: 20px;
  position: relative;
}

aside .menu ul li a,
aside .admin-section ul li a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #fff;
}

aside .menu ul li.active a,
aside .admin-section ul li.active a {
  color: #022868;
}

aside .menu ul li.active,
aside .admin-section ul li.active {
  background-color: #C6C6C6;
  color: #022868;
}

aside .menu ul li.active i,
aside .admin-section ul li.active i {
  color: #022868;
}

aside .admin-section h2 {
  font-weight: 400;
  padding: 15px 20px;
}

/* Main content */
main {
  background-color: #C6C6C6;
  border-radius: 40px;
  width: 90%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: 1%;
  padding: 15px;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;

  pointer-events: auto;
}